/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* font style  */
body {
  font-family: 'Poppins', sans-serif;
}
.bg-honda-primary {
  background-color: #264653;
}
.ms-button {
  margin-left: 100px;
}
.fw-honda-lighter {
  font-size: 14px;
  font-weight: 300;
}
/* image gray  */
.gray-scale {
  filter: grayscale(100%);
}
