/* google font import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* font style  */
body {
  font-family: 'Poppins', sans-serif;
}
.bg-honda-primary {
  background-color: #264653;
}
.ms-button {
  margin-left: 100px;
}
.btn-honda-danger {
  background-color: #e76f51;
}
.fw-honda-lighter {
  font-size: 14px;
  font-weight: 300;
}
/* image gray  */
.gray-scale {
  filter: grayscale(100%);
}
.client-color,
.modal-text-color,
.question-color {
  color: #e76f51;
}
/* star fill css  */
.filled {
  color: #e77c40;
}
